# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Console/RecorridoMatriz/nbproject/private/
/Console/RecorridoMatriz/build/
/Console/Estrada_ejercicio_1/nbproject/private/
/Console/Estrada_ejercicio_1/build/
/Console/JavaApplication4/nbproject/private/
/Console/JavaApplication4/build/
/Console/JavaApplication5/nbproject/private/
/Console/JavaApplication5/build/
/Console/MainMenu/nbproject/private/
/Console/MainMenu/build/
/Console/12/nbproject/private/
/Console/Palindromo/nbproject/private/
/Console/Palindromo/build/
/Console/Teorema_Rolle/nbproject/private/
/Console/Teorema_Rolle/build/
/Console/Examen/nbproject/private/
/Console/Examen/build/
/Console/Explicaciones/nbproject/private/
/Console/Explicaciones/build/
/Console/Oiesi/nbproject/private/
/Console/Oiesi/build/
/Console/Regla Falsa/nbproject/private/
/Console/Regla Falsa/build/
/Console/JavaApplication15/nbproject/private/
/Console/JavaApplication15/build/
/Console/LeySecante/nbproject/private/
/Console/LeySecante/build/
/Console/ReglaFalsaTrigonometrica/nbproject/private/
/Console/ReglaFalsaTrigonometrica/build/